<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="HrDbContext" connectionString="metadata=res://*/HrDbContext.csdl|res://*/HrDbContext.ssdl|res://*/HrDbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-HASIB\SQLEXPRESS;initial catalog=mydb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>